<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="links">
        <p>The source code for this website can be found on <a href="https://github.com/binste/basic_reproducibility_guide">GitHub</a>.
        Any typos, bugs, or inputs can be reported on the corresponding <a href="https://github.com/binste/basic_reproducibility_guide/issues">issues page</a>.</p>
    </div>
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
    </div>
  </div>
</footer>
